/* first page */

.page-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #cbe6ff;
    height: 100vh;
    background-size: cover;
}

.disha-img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explore-btn{
    background-color: #0057d9;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 30px;
    border: none;
    color: white;
    margin-top: 50px;
}


@media (max-width: 768px) {
    .disha-img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 160px;
        width: 230px;
    }

    .page-title{
        font-size: 20px;
        padding-top: 10px;
    }

    .title-description{
        font-size: 15px;
    }
}

@media (min-width: 768px) {
    .disha-img {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: 210px;
        width: 280px;
    }

    .page-title{
        font-size: 30px;
        padding-top: 10px;
    }

    .title-description{
        font-size: 20px;
    }
}
